/* $color1: rgba(7, 59, 58, 1);
$color2: rgba(95, 15, 64, 1);
$color3: rgba(154, 3, 30, 1);
$color4: rgba(251, 139, 36, 1);
$color5: rgba(227, 100, 20, 1); */

/* .try{
background: rgba(237, 62, 9, 1);
background: rgba(129, 193, 75, 1);
color: rgba(46, 147, 60, 1);
color: rgba(41, 112, 69, 1);
color: rgba(73, 79, 75, 1);
} */

/* Players form */
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: rgba(154, 3, 30, 1);
}

nav {
  height: 8vh;
  background-color: rgba(46, 147, 60, 1);
  color: #fff;
}

nav h3 {
  height: 8vh;
  line-height: 8vh;
  margin-left: 2em;
  font-family: "Lobster", cursive;
  cursor: pointer;
}

footer {
  text-align: center;
  margin: 3rem 1.5rem 0 0;
}

footer i {
  font-size: 0.9em;
}

.playerforms {
  margin-left: 12.5vw;
}

.playerform {
  margin: 1rem 2rem 1rem -1rem;
  width: 19.8rem;
}

.label{
  margin-left: 4rem;
  
}

/* input[type='submit']{
  width: 50vw;
  margin-left: 15vw;
  background-color: rgba(95, 15, 64, 1);
  border-radius: 1em;
  color: #fff;
} */

input[type="submit"] {
  width: 60%;
  background-color: rgba(46, 147, 60, 1);
  color: white;
  padding: 14px 20px;
  margin: 8px 0 0 210px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(32, 105, 41);
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0 60px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* User form / game starter */

.gamestarter {
  width: 80%;
  height: 70vh;
  margin: 8vh auto 0 auto;
  background-color: rgba(129, 193, 75, 1);
  color: #fff;
  padding-top: 15vh;
  font-family: "Abel", sans-serif;
}

.gamestarter h2 {
  text-align: center;
}

.playernames {
  visibility: hidden;
}

/* GameBoard */

.gameboard {
  width: 30vw;
  margin: 7rem auto 2rem auto;
}

.boardbox {
  border: 2px solid rgba(129, 193, 75, 1);
  width: 7rem;
  height: 7rem;
  text-align: center;
  line-height: 7rem;
  font-size: 1.9em;
  border-radius: 0.1em;
  font-family: "Bungee Shade", cursive;
  cursor: pointer;
}

.boardcont {
  display: none;
}

.errormsg,
.winmsg {
  visibility: hidden;

  position: absolute;
  top: 10vh;
  margin: 0;
}

button[type="button"] {
  width: 15vw;
  background-color: rgba(46, 147, 60, 1);
  color: white;
  display: block;
  padding: 14px 20px;
  margin: 2vh 0 5vh 40vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: rgb(32, 105, 41);
}

.button-game {
  margin-top: 2rem;
}

/* Pop up messages */

.winmsg{
  margin: 10px 0px;
  padding:20px;
  margin:10px 30px 30px;
  font-size: 3rem;
  vertical-align:middle;
  width: 90%;
  height: 10%;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color:   rgba(129, 193, 75, 1);
}

.winmsg p{

  margin-bottom: 20px;
}

.errormsg p{
  margin-bottom: 20px;

}

.errormsg{
  margin: 10px 0px;
  padding:20px;
  margin:10px 30px 30px;
  font-size: 3rem;
  vertical-align:middle;
  width: 90%;
  height: 10%;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color:   rgba(237, 62, 9, 1);
}

.playernames{

  margin: 1rem 0 0 28rem;
  font-size: 1.2rem;
}

.playersturn{
  visibility: hidden;
  position: absolute;
  top: 13vh;
  left: 4vw;
  font-size: 3rem;
  vertical-align:middle;
  width: 90%;
  height: 10%;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color:   #9B870C;
}