/* Players form */
body {
  position: relative;
}

.playerform{

    margin: 1rem;
}


/* GameBoard */

.boardbox{
    border: 1px solid salmon;
    width: 5rem;
    height: 5rem;
}

.boardrow{
  display: none;
}

.errormsg{
  visibility: hidden;
  width: 30vw;
  height: 30vh;
  position: absolute;
  top: 35vh;
  left: 35vh;
  margin: 0;
}
